[Unit]
Description=My damn-cool daemon

[Service]
Type=simple
ExecStart=/usr/bin/my_daemon
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID

Restart=always
RestartSec=5

User=root
Group=root

OOMScoreAdjust=1000

[Install]
WantedBy=multi-user.target
