[Desktop Entry]
Encoding=UTF-8
Name=Link to C++ STL Algorithms Tutorial Series' Articles - DEV Community
Type=Link
URL=https://dev.to/sandordargo/series/362
Icon=text-html
